<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoomRequest</servlet-name>
        <servlet-class>InsertRoomRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOutpassRequest</servlet-name>
        <servlet-class>InsertOutpassRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutpassDisplay</servlet-name>
        <servlet-class>OutpassDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMessBill</servlet-name>
        <servlet-class>PayMessBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileComplaint</servlet-name>
        <servlet-class>FileComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOutpass</servlet-name>
        <servlet-class>ShowOutpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOutpass</servlet-name>
        <servlet-class>VerifyOutpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOutpassServlet</servlet-name>
        <servlet-class>ApproveOutpassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectOutpassServlet</servlet-name>
        <servlet-class>RejectOutpassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOutpassServlet</servlet-name>
        <servlet-class>VerifyOutpassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomRequest</servlet-name>
        <servlet-class>RoomRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoomServlet</servlet-name>
        <servlet-class>CheckRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMessBill</servlet-name>
        <servlet-class>InsertMessBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMessBill</servlet-name>
        <servlet-class>ViewMessBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaints</servlet-name>
        <servlet-class>ViewComplaints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewService</servlet-name>
        <servlet-class>ViewService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoomRequest</servlet-name>
        <url-pattern>/InsertRoomRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOutpassRequest</servlet-name>
        <url-pattern>/InsertOutpassRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutpassDisplay</servlet-name>
        <url-pattern>/OutpassDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMessBill</servlet-name>
        <url-pattern>/PayMessBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileComplaint</servlet-name>
        <url-pattern>/FileComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOutpass</servlet-name>
        <url-pattern>/ShowOutpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOutpass</servlet-name>
        <url-pattern>/VerifyOutpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOutpassServlet</servlet-name>
        <url-pattern>/ApproveOutpassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectOutpassServlet</servlet-name>
        <url-pattern>/RejectOutpassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOutpassServlet</servlet-name>
        <url-pattern>/VerifyOutpassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomRequest</servlet-name>
        <url-pattern>/RoomRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoomServlet</servlet-name>
        <url-pattern>/CheckRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMessBill</servlet-name>
        <url-pattern>/InsertMessBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMessBill</servlet-name>
        <url-pattern>/ViewMessBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaints</servlet-name>
        <url-pattern>/ViewComplaints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewService</servlet-name>
        <url-pattern>/ViewService</url-pattern>
    </servlet-mapping>
</web-app>